<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/escolhausuario.css">
    <title>Nexus Cantina</title>
</head>

<body>

    <main class="container">

        <section class="card">

            <div class="logo">
                CANTINA
            </div>

            <h1>Bem-vindo</h1>
            <p>Selecione como deseja acessar o sistema</p>

            <div class="opcoes">

                <a href="loginaluno.html" class="opcao">

                    <div>
                        <h2>Aluno</h2>
                        <p>Faça pedidos e acompanhe seu saldo</p>
                    </div>
                </a>

                <a href="loginresponsavel.html" class="opcao">

                    <div>
                        <h2>Responsável</h2>
                        <p>Gerencie saldo e acompanhe o aluno</p>
                    </div>
                </a>

                <a href="telaadmin.html" class="opcao">

                    <div>
                        <h2>Cantina</h2>
                        <p>Gerencie pedidos e produtos</p>
                    </div>
                </a>

            </div>

        </section>

    </main>

</body>
</html>