<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/loginresponsavel.css">
    <title>Nexus Cantina - Login Responsável</title>

</head>

<body>

    <main class="container-login">

        <section class="card-login">

            <div class="logo-area">
                <div class="logo">
                    CANTINA
                </div>

                <h1>Login do Responsável</h1>
                <p>Acesse a conta para acompanhar o aluno</p>
            </div>

            <form id="formLogin">

                <div class="campo">
                    <label for="matricula">Matrícula do aluno</label>

                    <input type="text" id="matricula" placeholder="Digite a matrícula" autocomplete="off">
                </div>

                <div class="campo">
                    <label for="email">E-mail</label>

                    <input type="email"id="email"placeholder="Digite seu e-mail"autocomplete="off">
                </div>

                <div class="campo">
                    <label for="senha">Senha</label>

                    <input type="password"id="senha"placeholder="Digite sua senha">
                </div>

                <button type="submit" class="botao-login">
                    Entrar
                </button>

                <div id="mensagem" class="mensagem"></div>

            </form>

            <div class="rodape-login">
                Cantina • Área do Responsável
            </div>

        </section>

        
    </main>

        <script src="../static/js/loginresponsavel.js"></script>

</body>
</html>