<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pedidoaluno.css">
    <title>Nexus Cantina - Cardápio</title>


</head>

<body data-perfis="aluno,responsavel">

<header>
    <div class="marca">
        <div class="logo">CANTINA</div>
        <h2>Cantina</h2>
    </div>

    <nav>
        <a href="telaaluno.html" data-inicio-perfil>Início</a>
        <a href="pedidoaluno.html" aria-current="page">Produtos</a>
        <a href="carrinho.html">Carrinho</a>
        <a href="loginaluno.html" class="sair" data-logout>Sair</a>
    </nav>
</header>

<main>

    <div class="titulo">
        <span>CARDÁPIO</span>
        <h1>O que você deseja pedir?</h1>
    </div>

    <div class="produtos" id="listaProdutos"></div>

</main>

<div id="mensagem">Produto adicionado ao carrinho!</div>

<script src="../static/js/pedidoaluno.js"></script>
<script src="../static/js/navegacao-perfil.js"></script>
<script src="../static/js/logout.js"></script>

</body>
</html>
